/venv
/cache
*.pdf
*.csv
*.pptx
/Additionals
/out_logging/*
/out_raytracing/*
/out_visibility/*
/out_bicycle_trajectories/*
/out_flow_trajectories/*
/out_3d_trajectories/*
/out_3d_trajectories_gifs/*
/out_3d_trajectories_old/*
/out_3d_trajectories_gifs_old/*
/out_3d_conflicts/*
/out_3d_conflicts_gifs/*
/out_3d_detections/*
/out_test/*
/SUMO_example/ssm_data_bicycles.xml
error