# directories
/Additionals
/cache
/out_2d_individual_trajectories/*
/out_2d_flow_based_trajectories/*
/out_3d_conflicts/*
/out_3d_conflicts_gif/*
/out_3d_detections/*
/out_logging/*
/out_raytracing/*
/out_test
/out_visibility/*
/SUMO_example/ssm_data_bicycles.xml
/venv
error
# file types
*.pptx
*.pdf
*.csv