geopandas==0.14.2
geopandas==0.14.4
geopandas==1.0.1
libsumo==1.20.0
matplotlib==3.8.0
matplotlib==3.8.4
networkx==3.1
networkx==3.2.1
networkx==3.3
numpy==2.1.2
osmnx==1.0.1
pandas==2.2.3
pyproj==3.5.0
pyproj==3.6.1
Shapely==2.0.6
# TraCI mit reinschreiben
# matplotlib ans Ende stellen, manchmal gibt es einen Fehler bei der Installation.